.footer {
  color: #fff;
  padding: 1rem;
  text-align: center;
  background: rgba(246, 239, 239, 0.09);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(246, 239, 239, 0.08);
  margin: 20px 10px 10px 10px;
}
