@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.header {
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(246, 239, 239, 0.09);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(246, 239, 239, 0.08);
  margin: 10px 10px 0px 10px;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  cursor: pointer;
}

.header .search {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.inputBar {
  width: 280px;
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 280px;
  margin-right: 10px;
}

.inputBar:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: auto;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .cookie-regular {
    position: static;
    font-size: 22px;
    transform: translateX(0);
    left: 0;
    padding-left: 10px;
  }
  .inputBar {
    width: 80px;
    height: 10px;
  }


}

@media (min-width: 601px) and (max-width: 900px) {
  .cookie-regular {
    position: static;
    font-size: 40px;
    transform: translateX(0);
    left: 0;
    padding-left: 10px;
  }
}

@media (min-width: 901px) {
  .container {
    background-color: lightcoral;
  }
}