@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 12px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  cursor: pointer;
}

.header .search {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}




.inputBar{
  width: 280px;
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 280px;
}
.inputBar:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  overflow: hidden;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 10px;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 10px;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 15px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.nav-cat{
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #8707ff;
  background: transparent;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}
.nav-cat:hover{
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 10px;
  z-index: 100;
}


.dropdown-content {
  top: 34px;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
  border-radius: 10px;
  left: -1px;
}

.dropdown-content a {
  color: white;
  padding: 5px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight:normal
}

.dropdown-content a:hover {
  background-color: #222;
  border-radius: 10px;
}

.drop:hover .dropdown-content {
  display: block;

}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

