.movie-card {
  width: 155px;
  height: 260px;
  background-color: #444;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  height: 190px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
}

.movie-info {
  padding: 0.5rem 0;
  z-index: 1;
  position: relative;
}

.movie-info h3 {
  margin: 0;
  font-size: 13px;
}

.movie-info p {
  margin: 0;
  font-size: 0.875rem;
  color: #aaa;
}

/* Moving border effect */
/* .movie-card::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  top: -61px;
  left: 65px;
  z-index: -1;
} */

/* @keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* .movie-card::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #444;
  border-radius: 15px;
  z-index: -1;
} */

.movie-card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.05); 
}

@media (max-width: 600px) {
  .movie-card {
    width: 73px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
  }
  .movie-card img {
    height: 80px;
    border-radius: 10px;
  }
  .movie-info h3{
    font-size: 10px;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allows for multiple lines */
  }
  .movie-info p {
    font-size: 10px 
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .movie-info h3{
    font-size: 10px;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allows for multiple lines */
  }
  .movie-card img {
    height: 150px;
  }
  .movie-card {
    width: 130px;
    height: 195px;
  }
}

@media (min-width: 901px) {
  .container {
    background-color: lightcoral;
  }
}