@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Lobster&display=swap');
.ga-maamli-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 100;
  font-style: normal;
}


.movie-list {
  flex: 1;
  padding: 0px 10px 5px 10px;
}

.movie-list h2 {
  margin-bottom: 1rem;
}

.movie-list .movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Five columns */
  gap: 15px;  /* Space between items */
  /* Optional: Adjust grid gap and other styles as needed */
}

.movies-grid > * {
  /* Ensure that items fit nicely in the grid */
  box-sizing: border-box;
}
