/* // Existing CSS styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex: 1;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Send video behind the content */
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .inputBar {
    width: 80px;
    height: 10px;
  }


}

@media (min-width: 601px) and (max-width: 900px) {
  .container {
   
  }
}

@media (min-width: 901px) {
  .container {
    
  }
}